<?xml version="1.0" encoding="UTF-8"?>


<suite name="Suite">

	<test  name="TestChrome">

		<parameter name="browserType" value="chrome" />
		<classes>
			<class name="runner.TestRunner_TestNg"></class>
		</classes>
	</test> <!-- Test -->

	<test  name="Testfirefox">
		<parameter name="browserType" value="firefox" />
		<classes>
			<class name="runner.TestRunner_TestNg"></class>
		</classes>
	</test> <!-- Test -->
	<!--<test thread-count="3" name="Testedge">

		<parameter name="browser" value="edge" />

		<classes>

			<class name="runner.TestRunner"></class>

		</classes>

	</test> --> <!-- Test --> 

</suite> <!-- Suite -->